
:root {
    --card-width: 125px;
    --card-height: 175px;
  }
  
  html {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
  }
  
  
  body {
    margin: 0;
    background: url(img/sfvcover1920x1080.jpg) center/cover no-repeat;
    color: blue;
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 2px 3px rgb(177, 177, 177);
    min-height: 100vh;
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #ui-container {
    text-align: center;
  }
  
  #ui-container h3 {
    margin: 0;
    display: inline-block;
    font-size: 40px;
    text-align: center;
  }
  
  #ui-container h3:first-child {
    margin-right: 40px;
  }
  
  #card-container {
    font-size: 0;
    margin: 50px auto;
    width: calc((var(--card-width) + 2vw + 12px) * 4);
  }
  
  
  
  .card {
    display: inline-block;
    position: relative;
    margin: 1vw;
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid transparent;  
    overflow: hidden;
  }
  
  /* Style the two logo images themselves. */
  .card-down,
  .card-up {
    /* Take images out of the flow. */
    position: absolute;
  
    width: 100%;
    height: 100%;
  
    /* When facing away from the screen each image should be hidden. */
    backface-visibility: hidden;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  .card-down {
    background-image: url(img/SFVLogo\(Blue\).png);
    background-position: center;
    background-size: cover;
    box-shadow: 2px 1px 2px solid white;
  }
  
  .card-up {
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
  }
  
  .flipped .card-down {
    transform: rotateY(180deg);
  }
  
  .flipped .card-up {
    transform: rotateY(0deg);
  }
  
  .image-1 .card-up {
    background-image: url(img/Ryu.png), linear-gradient(#72dbf4, #72dbf4);
  }
  
  .image-2 .card-up {
    background-image: url(img/Ken.png), linear-gradient(#72dbf4, #72dbf4);
  }
  
  .image-3 .card-up {
    background-image: url(img/Rashid.png), linear-gradient(#72dbf4, #72dbf4);
  }
  
  .image-4 .card-up {
    background-image: url(img/Karin.png), linear-gradient(#72dbf4, #72dbf4);
  }
  
  .image-5 .card-up {
    background-image: url(img/Menat.png), linear-gradient(#72dbf4, #72dbf4);
  }
  
  .image-6 .card-up {
    background-image: url(img/Juri.png), linear-gradient(#72dbf4, #72dbf4);
  }
  
  .glow {
      border: 1px solid white;    
      transition: border 0.1s linear, box-shadow 0.1s linear;
  }
  
  
  @keyframes border-glow {
    from {
      border: 2px solid transparent;   
      box-shadow: none;
    }
  
    80% {
      border-color: blue;
      box-shadow: 0 0 10px blue;
    }
  
    to {
      border: 2px solid white;   
      box-shadow: none;
    }
  }
  
  .border-glow {
    animation: border-glow 1s;
  }
  
  .btn-container {
      display: flex;
      justify-content: center;
  }
  
  .reset-btn {
      margin: 0 0 30px 0;
      padding: 20px 40px;
      background-color: blue;
      color: white;
      border: 0px;
      border-radius: 10px;
      font-family: "Kanit", sans-serif;
      font-size: 1.5em;
  }
  
  .reset-btn:hover {
      cursor: pointer;
      background-color: gold;
  }